<h2> Territory Number: <%= @territory.number %> </h2>
<h3> Territory Type: <%= @territory.designation.capitalize %> -------- Territory ID: <%= @territory.id %></h3>
<h3> Territory Image: </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<p> <a href="/territories/<%=@territory.id%>/edit">Edit Territory</a></p>
<p><a href="/territories">Back</a> to all territories</p>


<form action="/territories/<%=@territory.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Delete Territory">
</form>
