#Allow logged in user to sign out a new territory
<h1>Check Out a Territory</h1>
<br></br>
<form action="/sign_out" method="POST"
<input type="checkbox" name="<%=territory.id%>" value="#<%=territory.id%>"> <%=territory.name%><br>
  <input type="checkbox" name="<%=territory.id%>" value="#<%=territory.id%>" checked> <%=territory.name%><br>
  <input type="submit" value="Submit">
</form>
<br></br>
