<h1> Territories </h1>
<p> <%=current_user.first_name%> <%=current_user.last_name%> View a territory from the list of territories below:</p>
<p>  If you wish to edit a territory from this list please select one with your Manager ID: <%=current_user.id%></p>

<ul>
  <%@territories.each do |t|%>
    <li><a href='/territories/<%=t.id%>'><%=t.number%>: <%=t.designation.capitalize%></a> --- Manager ID:<%=t.user_id%></li>
  <%end%>
</ul>
<br>
<p><a href="/users/show_user">Go</a> to your userpage</p>
<p><a href="/">Go</a> to the homepage</p>
