<h2> <%= @user.first_name%><%= puts " "%> <%= @user.last_name %> </h2>
<h4> Username: <%= @user.username %> </h4><br>
<h4> Email: <%= @user.email %> </h4><br>
<h5> User ID: <%= @user.id %> </h5>
  <br>
  <br>
  <br>
  <br>
    <li><a href="/territories/new">Make a New Territory</a></li>
    <li><a href="/territories/territories">Edit a Territory</a></li>
    <li><a href="/territories/territories">See All Territories</a></li>
  <br>
<p><a href="/">Go</a> to the homepage</p>


<form action="/users/<%=@user.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Delete User">
</form>
